<!DOCTYPE html>
<!-- http://127.0.0.1:8001 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Control systems simulation platform portal. Explore and test different dynamic systems.">
    <title>Control Simulation Platform</title>
    <!-- Use Google Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <h1>Control Simulations</h1>
    </div>

    <div class="container">
        <div class="projects-grid">
            <a href="/basic" class="project-card" id="basic-pendulum-link">
                <h2>1. Basic Pendulum</h2>
                <p>Lwts start with simulating a simple pendulum, with real time interactive environment and see how
                    length, mass, gravity etc affects the pendulum. We will be using different solvers such as euler,
                    RungeKutta etc.</p>
            </a>

            <a href="/inverted" class="project-card" id="inverted-pendulum-link">
                <h2>2. Inverted Pendulum (PID)</h2>
                <p>Lets try something complicated ow with inverted pendulum. The satte space model is seen and we will
                    try to stabilize it using PID controller. Manually disturbances can be given and we also have a
                    graph for visualising.We will be using Python for the backend as it can do complex calculations and
                    simulations in real time.</p>
            </a>

            <!-- Placeholders for future projects -->
            <a href="#" class="project-card" style="opacity: 0.5; cursor: not-allowed;" id="lqr-link">
                <h2>3. LQR Control (Coming Soon)</h2>
                <p>Linear-Quadratic Regulator applied to the inverted pendulum and cart-pole systems for optimal state
                    feedback. Will be simulated on python later.</p>
            </a>

            <a href="#" class="project-card" style="opacity: 0.5; cursor: not-allowed;" id="mpc-link">
                <h2>4. Model Predictive Control For Inverted Pendulum </h2>
                <p>Coming Soon</p>
            </a>

            <a href="#" class="project-card" style="opacity: 0.5; cursor: not-allowed;" id="missile-link">
                <h2>5. Other control Realate dProjects</h2>
                <p>Coming soon, (such as missile tracking simulation, etc.) </p>
            </a>
        </div>
    </div>
</body>

</html>